body {
	margin:0;
	font-size:15px;
	font-family:Arial, Sans Serif;
}

.chrome-background {
	background: #fff9f9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fff9f9 0%, #adadad 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff9f9), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fff9f9 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fff9f9 0%,#adadad 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fff9f9 0%,#adadad 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fff9f9 0%,#adadad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9f9', endColorstr='#adadad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.rounded-white-border {
	border:#FFF 2px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.black-border {
	border-color:#444 !important;
}

.black-background {
	background-color:#000 !important;
}

#holder {
	position:fixed;
}

#container {
	width:100%;
	position:relative;
}

#headfix {
	width:100%;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background-color:#FFF;
	z-index:9999;
}

#stamp-pad-container {
	overflow:hidden;
	position:absolute;
	top:20px;
	left:0;
	width:100%;
}

#stamp-pad-image-container {
	height:100px;
	width:100%;
	display:none;
}

.stamp-pad-image {
	float:left;
	width:104px;
	height:75px;
	border:#FFF 2px solid;
	margin:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-size:cover !important;
}

#stamp-pad-handle {
	width:180px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:10px 10px 0 10px;
}

#stamp-pad-handle span {
	font-size:1.5em;
	font-family:Arial, Sans Serif;
	color:#777;
	vertical-align:middle;
}

#stamp-pad-handle img {
	width:45px;
	vertical-align:middle;
}

#stamp-pad-scroll-container {
	overflow-x:scroll;
	overflow-y:hidden;
}

#stamp-pad-scroll-container::-webkit-scrollbar {
	display:none;
}

.bottom-options {
	position:absolute;
	padding:10px;
	width:30px;
	height:30px;
	background-color:#2D2D2D;
	border:#FFF 2px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#FFF;
	font-size:2em;
	text-align:center;
}

#grid-menu-button {
	bottom:20px;
	left:20px;
}

#add-menu-button {
	bottom:20px;
	left:50%;
	margin-left:-25px;
}

#share-menu-button {
	bottom:20px;
	right:100px;
}

#reset-canvas-button {
	bottom:20px;
	right:20px;
}

.main-menu-container {
	padding:20px;
}

#add-menu-container, #select-menu-container, #add-astro-background-menu, #add-text-menu, #text-style-menu {
	position:absolute;
	bottom:90px;
	left:50%;
	margin-left:-370px;
	width:700px;
	display:none;
}

#main-menu-title {
	color:#333;
	font-family:Arial, Sans Serif;
	font-size:1.3em;
	font-weight:bold;
	display:inline-block;
	border-bottom:#333 3px solid;
	padding:10px;
}

.main-menu-title-container {
	text-align:center;
}

.menu-content-container {
	margin-top:20px;
}

.menu-image {
	width:150px;
	height:100px;
	background-size:contain !important;
	background-position:center !important;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.menu-image-title {
	text-align:center;
	color:#333;
	margin-top:10px;
	font-weight:bold;
	font-family:Arial, Sans Serif;
	font-size:0.8em;
}

.menu-content-container table {
	width:100%;
}

.menu-bottom-tick {
	position:absolute;
	border-bottom:#333 5px solid;
	width:50px;
	bottom:0;
	left:50%;
	margin-left:-25px;
}

.menu-backgrounds-icon {
	padding:10px;
	width:50px;
	height:50px;
	background-color:#333;
	color:#FFF;
	font-size:3em;
	margin-left:auto;
	margin-right:auto;
}

#backgrounds-table {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

#background-astro {
	background:url(../img/thumbs/stars/sta3.png) no-repeat;
	background-size:cover;
}

.change-color-text {
	font-size:1.1em;
	font-weight:bold;
	font-family:Arial Narrow, Sans Serif;
	text-align:center;
}

#backgrounds-table td, #text-style-colors td {
	width:200px;
}

.menu-color-options div {
	height:50px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
	border:#FFF 2px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#menu-backgrounds-1, #text-color-1 {
	background-color:#000;
}

#menu-backgrounds-2, #text-color-2 {
	background-color:#2e3190;
}

#menu-backgrounds-3, #text-color-3 {
	background-color:#00a451;
}

#menu-backgrounds-4, #text-color-4 {
	background-color:#f5911e;
}

#menu-backgrounds-5, #text-color-5 {
	background-color:#ea008a;
}

#menu-backgrounds-6, #text-color-6 {
	background-color:#eb1c24;
}

#menu-backgrounds-7, #text-color-7 {
	background-color:#8ac43f;
}

#menu-backgrounds-8, #text-color-8 {
	background-color:#26a8df;
}

#menu-backgrounds-9, #text-color-9 {
	background-color:#8f278d;
}

#menu-backgrounds-10, #text-color-10 {
	background-color:#999999;
}

.select-menu-back, .close-menu-x {
	font-size:2em;
	color:#333;
	position:absolute;
	top:30px;
	left:30px;
}

#menu-select-nebulae, #menu-select-supernovae {
	display:none;
}

.locked {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:rgba(255, 255, 255, 0.5);
	font-size:5em;
	color:#555;
	text-align:center;
	padding-top:15px;
	z-index:9999;
}

.menu-buttons {
	padding:10px;
	width:35px;
	height:30px;
	background-color:#2D2D2D;
	color:#FFF;
	font-size:2em;
	text-align:center;
}

.menu-buttons-small {
	padding:5px;
	width:30px;
	height:25px;
	font-size:1.4em;
}

.menu-buttons-small img {
	width:30px;
	padding-top:3px;
}

.close-button {
	padding:5px;
	font-size:1.3em;
	border-radius:50px;
	width:25px;
}

.close-button.right-top {
	position:absolute;
	top:-20px;
	right:0;
}

#snap-menu {
	position:absolute;
	padding:20px;
	padding-bottom:40px;
	display:none;
	z-index:9999;
}

.snap-menu-item-container {
	overflow:hidden;
	margin-top:20px;
}

.snap-menu-item-container:first-child {
	margin-top:0;
}

.snap-menu-1 {
	float:left;
	width:44px;
}

.snap-menu-2 {
	float:right;
	font-size:1.2em;
	margin-left:10px;
	padding-top:10px;
	width:180px;
	font-weight:bold;
}

#stamp-image-menu {
	position:absolute;
	padding:20px;
	padding-bottom:20px;
	z-index:9999;
	top:140px;
	display:none;
}

.stamp-image-menu-1 {
	float:left;
	width:44px;
}

.stamp-image-menu-2 {
	float:right;
	font-size:0.9em;
	margin-left:10px;
	padding-top:10px;
	width:140px;
	font-weight:bold;
}

#stamp-image-caret {
	display:none;
	position:absolute;
	top:125px;
	width:0; 
	height:0; 
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-bottom:20px solid #CCCCCC;
}

#edit-menu {
	position:absolute;
	top:20px;
	right:0;
	padding:20px;
	z-index:9999;
}

.edit-menu-hide {
	right:-420px !important;
	transition:all 0.3s ease-in-out;
}

.edit-menu-show {
	right:0 !important;
	transition:all 0.3s ease-in-out;
}

.menu-group-container {
	overflow:hidden;
	margin-top:20px;
}

.menu-group-container:first-child {
	margin-top:0;
}

.menu-group-container:last-child {
	margin-top:40px;
}

.menu-group-icon {
	width:44px;
	float:left;
}

.menu-group-icon img {
	width:30px;
	margin-top:-5px;
	margin-left:0px;
}

.menu-group-text {
	float:right;
	width:300px;
	font-size:1.2em;
	padding-top:8px;
	padding-left:20px;
}

#cancel-stamp-menu {
	position:absolute;
	padding:5px;
	width:255px;
	top:30px;
	right:10px;
	z-index:9999;
	display:none;
}

.change-layer-container {
	overflow:hidden;
}

.change-layer-option {
	float:left;
	padding:10px 15px;
	background-color:#6705E8;
	color:#FFF;
}

.change-layer-text {
	float:left;
	text-align:center;
	width:270px;
	padding-top:10px;
	font-size:1.2em;
	font-weight:bold;
}

#grid-menu {
	position:absolute;
	bottom:90px;
	left:20px;
	display:none;
}

.grid-menu-item {
	width:200px;
	height:150px;
	background-size:cover !important;
	float:left;
	margin-left:20px;
}

.grid-menu-item:first-child {
	margin-left:0;
}

#grid-menu-options {
	position:absolute;
	right:20px;
	top:35%;
	padding:10px;
	display:none;
}

#grid-menu-options div.change-layer-option {
	float:none;
}

#add-text-input {
	width:100%;
	font-size:24px;
	padding:5px;
	border-radius:5px;
	border:#999 1px solid;
}

#add-text-button, #delete-text-button {
	padding:10px 20px;
	border-radius:5px;
	background-color:#2c539e;
	color:#FFF;
	text-decoration:none;
}

#font-sizing-table {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

#font-sizing-table td {
	width:200px;
}

#delete-text-button {
	background-color:#900;
}

#crop-confirm-menu {
	position:absolute;
	top:30%;
	left:20px;
	padding:10px;
	display:none;
}

#share-menu {
	position:absolute;
	right:100px;
	bottom:90px;
	display:none;
}

#share-render-container {
	width:150px;
	height:130px;
	background-size:cover !important;
	border:#FFF 5px solid;
	box-shadow:4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

#share-caption {
	width:100%;
	height:80px;
	font-size:1.3em;
	border:#CCC 1px solid;
	border-radius:5px;
}

.share-buttons-container {
	overflow:hidden;
	width:300px;
}

.share-buttons-icon {
	width:40px;
	float:left;
}

.share-buttons-icon img {
	width:100%;
	border-radius:5px;
}

.share-buttons-text {
	float:right;
	width:250px;
	padding-top:10px;
	font-size:1.1em;
}